.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}
.wd-modules{
    list-style-type: none;
}
.wd-modules > li > ul{
    list-style-type: none;
}
.wd-modules {
  margin: 5px;
}
.list-group-item{
    background-color: white;
}
.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}
.wd-modules > li > ul > ul{
    list-style-type: none;
}
.wd-modules > li > ul > ul > li{
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
    padding-left: 50px;
}
.menu-buttons{
  background-color: lightgrey;
  border: 1px solid transparent;
  border-color: gray;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.menu-buttons:hover{
  background-color: rgb(189, 185, 185);
}
.module{
  background-color: rgb(241, 63, 63);
  color: white;
}
.module:hover{
  background-color: red;
}
.dropdown {
  background-color: lightgrey;
  border: 1px solid transparent;
  border-color: #000;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-published{
  background-color: rgb(173, 241, 173);
}
.btn-published:hover{
  background-color: lightgreen;
}
.list-course-status{
  list-style-type: none;
}
.list-course-status >li > button{
  width : 210px;
  text-align: left;
}
.list-upcoming-lectures{
  list-style-type: none;
}
.list-upcoming-lectures > li > a{
  color: red;text-decoration: none;
}

.button-container {
  text-align: right; 
}
.course-setting-icon{
  padding-right: 10px;
}
.course-nav{
  padding-right: 10px;
}
.flex-container {
  width: 100%;
}
