.course-nav{
    padding-right: 10px;
  }
  .grades-btn{
    border: 1px solid gray;
    background-color: lightgrey;
    border: 1px solid transparent;
    border-color: gray;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .grades-btn:hover{
    background-color: rgb(189, 185, 185);

  }
  .grades-btn-icon{
    padding-right: 10px;
  }
.student-name{
    color: red;
}
.student-grades-input{
    text-align: center;

}
.settings{
    width:112px;
}
.breadcrumb-item a {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.breadcrumb-navigation li {
  padding-top: 10px;
}
